@charset "UTF-8";
:root {
  /* Text & accent colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --ltitle-text-color: rgba(0, 0, 0, 0.2);
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --blacktext-color: #000000;
  --whitetext-color: #ffffff;
  --footlogo-span-color: rgba(255, 255, 255, 1);
  --foot-contacts-color: rgba(255, 255, 255, 0.6);
  --modal-form-txt-color: rgba(117, 117, 117, 0.5);
  /* svg-fills & strokes */
  --primary-icon-fill: #afb1b8;
  --footer-icon-bcg-color: rgba(255, 255, 255, 0.1);
  /* Background colors */
  --primary-bckg-color: #ffffff;
  --secondary-bckg-color: #f5f4fa;
  --footer-bckg-color: #2f303a;
  --subimage-box-color: #eeeeee;
  --header-border-color: #ececec;
  --modal-btn-hover-color: #188ce8;
  /* Overlay colors */
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --features-overlay-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --footer-input-blur: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  /* Border colors */
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  /* Misc */
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Text & accent colors */
/* svg-fills & strokes */
/* Background colors */
/* Overlay colors */
/* Border colors */
/* Misc */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero-button, .submit-form__button, .modal-form__submit-button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 4px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 250ms var(--transform-timing-function);
  transition: background-color 250ms var(--transform-timing-function);
}

.team-section, .clients-section, .exhibition-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .team-section, .clients-section, .exhibition-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features-section__title, .team-section__title, .clients-section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .features-section__title, .team-section__title, .clients-section__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* Сброс геометрии элементов по - умолчанию. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

/* Задан, чтобы убрать нижний отступ у картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--title-text-color);
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--primary-icon-fill);
  background-color: var(--whitetext-color);
  -webkit-transition: fill 250ms var(--transform-timing-function), background-color 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function), background-color 250ms var(--transform-timing-function);
}

.social-list__link:focus, .social-list__link:hover {
  background-color: var(--accent-color);
  fill: var(--whitetext-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container--flexed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--light-background {
  color: var(--blacktext-color);
}

.burger-button {
  display: inline-block;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
}

.burger-button:hover .burger-button__icon,
.burger-button:focus .burger-button__icon {
  -webkit-transition: fill 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function);
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button__icon {
  width: 40px;
  height: 40px;
  fill: var(--blacktext-color);
}

@media screen and (max-width: 767px) {
  .site-nav,
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container--flexed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms var(--transform-timing-function);
    transition: color 250ms var(--transform-timing-function);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link--current {
    color: var(--accent-color);
  }
  .site-nav__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--primary-text-color);
    -webkit-transition: color 250ms var(--transform-timing-function);
    transition: color 250ms var(--transform-timing-function);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    -webkit-transition: fill 250ms var(--transform-timing-function);
    transition: fill 250ms var(--transform-timing-function);
  }
  .contact-list__link:hover .contact-list__icon,
  .contact-list__link:focus .contact-list__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .container--flexed {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .site-nav {
    margin-left: 93px;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  .contact-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact-list__item + .contact-list__item {
    margin-left: 30px;
  }
}

.hero {
  height: 400px;
  background-color: var(--footer-bckg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/hero-section/mobile/hero-background-mobile.jpg);
  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/hero-section/mobile/hero-background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 15px;
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/hero-section/mobile/hero-background-mobile@2x.jpg);
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/hero-section/mobile/hero-background-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/hero-section/tablet/hero-background-tablet.jpg);
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/hero-section/tablet/hero-background-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/hero-section/tablet/hero-background-tablet@2x.jpg);
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/hero-section/tablet/hero-background-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/hero-section/desktop/hero-background-desktop.jpg);
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/hero-section/desktop/hero-background-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/hero-section/desktop/hero-background-desktop@2x.jpg);
    background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/hero-section/desktop/hero-background-desktop@2x.jpg);
  }
}

.hero-title {
  max-width: 620px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-button:hover, .hero-button:focus {
  background-color: var(--modal-btn-hover-color);
}

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages-list__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bckg-color);
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-list__title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list__description {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .features-section {
    display: none;
  }
}

.features-section {
  padding-bottom: 94px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features-list__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.features-list__overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--features-overlay-color);
}

.features-list__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--whitetext-color);
}

.team-section {
  background-color: var(--secondary-bckg-color);
  font-size: 16px;
  line-height: 1.17;
}

.team-list {
  text-align: center;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .team-list__item {
    margin-bottom: 30px;
  }
}

.team-list__meta {
  padding: 30px 32px;
  background-color: var(--whitetext-color);
}

.team-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}

.team-list__description {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team-list__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list__item {
  margin-top: 30px;
  margin-left: 30px;
  width: 170px;
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

.clients-list__item:not(:first-child) {
  margin-left: 30px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-fill);
  border-radius: 4px;
  fill: var(--primary-icon-fill);
  -webkit-transition: fill 250ms var(--transform-timing-function), border 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function), border 250ms var(--transform-timing-function);
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bckg-color);
  font-style: inherit;
}

.logo-address__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

.logo--dark-background {
  color: var(--footlogo-span-color);
}

.footer-contacts-list__wrapper {
  font-style: inherit;
}

@media screen and (max-width: 1199px) {
  .footer-contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

.footer-contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-list__map-link {
  color: var(--whitetext-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts-list__link {
  color: var(--foot-contacts-color);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms var(--transform-timing-function);
  transition: color 250ms var(--transform-timing-function);
}

.footer-contacts-list__link:hover, .footer-contacts-list__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .join-us-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) and (max-width: 767px) {
  .join-us-block {
    margin-bottom: 60px;
  }
}

.join-us-block__title {
  display: block;
  margin-bottom: 20px;
  color: var(--whitetext-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199) {
  .join-us-block__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.social-list__link--footer-colored {
  fill: var(--whitetext-color);
  background-color: var(--footer-icon-bcg-color);
  -webkit-transition: fill 250ms var(--transform-timing-function), background-color 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function), background-color 250ms var(--transform-timing-function);
}

.social-list__link--footer-colored:focus, .social-list__link--footer-colored:hover {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .logo-address__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1199px) {
  .submit-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .submit-form__block {
    width: 100%;
  }
}

.submit-form__title {
  margin-bottom: 20px;
  color: var(--whitetext-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.submit-form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid var(--footer-input-border);
  -webkit-filter: var(--footer-input-blur);
          filter: var(--footer-input-blur);
  border-radius: 4px;
  background-color: var(--footer-bckg-color);
  color: var(--whitetext-color);
  margin-bottom: 20px;
}

.submit-form__input::-webkit-input-placeholder {
  color: var(--foot-contacts-color);
}

.submit-form__input:-ms-input-placeholder {
  color: var(--foot-contacts-color);
}

.submit-form__input::-ms-input-placeholder {
  color: var(--foot-contacts-color);
}

.submit-form__input::placeholder {
  color: var(--foot-contacts-color);
}

.submit-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.submit-form__button:hover, .submit-form__button:focus {
  background-color: var(--modal-btn-hover-color);
}

.submit-form__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: var(--whitetext-color);
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .submit-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .submit-form__input {
    margin-right: 12px;
    width: 358px;
  }
  .submit-form__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item {
    margin-bottom: 15px;
  }
}

.filter-list__item:not(:first-child) {
  margin-left: 8px;
}

.filter-list__button {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .exhibition-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .exhibition-list__item:first-child .exhibition-list__card-meta {
    padding-bottom: 56px;
  }
}

.exhibition-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--transform-timing-function);
  transition: -webkit-box-shadow 250ms var(--transform-timing-function);
  transition: box-shadow 250ms var(--transform-timing-function);
  transition: box-shadow 250ms var(--transform-timing-function), -webkit-box-shadow 250ms var(--transform-timing-function);
}

.exhibition-list__link:hover, .exhibition-list__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.exhibition-list__card-thumb {
  height: auto;
  position: relative;
  overflow: hidden;
}

.exhibition-list__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-overlay-color);
  color: var(--whitetext-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function), -webkit-transform 250ms var(--transform-timing-function);
}

.exhibition-list__link:hover .exhibition-list__overlay,
.exhibition-list__link:focus .exhibition-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function), -webkit-transform 250ms var(--transform-timing-function);
}

.exhibition-list__card-meta {
  padding: 20px 24px;
  border-left: 1px solid var(--subimage-box-color);
  border-right: 1px solid var(--subimage-box-color);
  border-bottom: 1px solid var(--subimage-box-color);
}

.exhibition-list__card-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.exhibition-list__card-description {
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (min-width: 768px) {
  .exhibition-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .exhibition-list__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .exhibition-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.backdrop {
  position: fixed;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: opacity 250ms var(--transform-timing-function), visibility 250ms var(--transform-timing-function);
  transition: opacity 250ms var(--transform-timing-function), visibility 250ms var(--transform-timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__wrapper {
  width: 100%;
  padding: 40px;
}

.backdrop__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.backdrop__content {
  position: absolute;
  max-width: 528px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  background-color: var(--whitetext-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function), -webkit-transform 250ms var(--transform-timing-function);
}

.backdrop--is-hidden .backdrop__content {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}

.backdrop__close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.backdrop__close-button:hover .backdrop__close-icon,
.backdrop__close-button:focus .backdrop__close-icon {
  fill: var(--accent-color);
}

.backdrop__close-icon {
  position: absolute;
  fill: var(--blacktext-color);
  -webkit-transition: fill 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function);
}

@media screen and (min-width: 550px) {
  .backdrop__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 528px;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-form__field-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__field-wrapper--textarea {
  margin-bottom: 20px;
}

.modal-form__input {
  max-width: 448px;
  height: 40px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--blacktext-color);
  cursor: pointer;
  -webkit-transition: border 250ms var(--transform-timing-function);
  transition: border 250ms var(--transform-timing-function);
}

.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function);
}

.modal-form__textarea {
  resize: none;
  height: 120px;
  max-width: 448px;
  padding: 12px 16px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--blacktext-color);
  cursor: pointer;
  -webkit-transition: border 250ms var(--transform-timing-function);
  transition: border 250ms var(--transform-timing-function);
}

.modal-form__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-form-txt-color);
}

.modal-form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-form-txt-color);
}

.modal-form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-form-txt-color);
}

.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-form-txt-color);
}

.modal-form__agreement-wrapper {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.modal-form__agreement-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal-form__check-box:focus + .modal-form__custom-checkbox {
  outline: var(--accent-color) solid 1px;
}

.modal-form__check-box:checked + .modal-form__custom-checkbox {
  fill: var(--whitetext-color);
  background-color: var(--accent-color);
  border: none;
}

.modal-form__custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: none;
  margin-right: 7px;
  -webkit-transition: fill 250ms var(--transform-timing-function), background-color 250ms var(--transform-timing-function), border 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function), background-color 250ms var(--transform-timing-function), border 250ms var(--transform-timing-function);
}

.modal-form__license-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__submit-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__submit-button:hover, .modal-form__submit-button:focus {
  background-color: var(--modal-btn-hover-color);
}

.mobile-menu {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--whitetext-color);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: -webkit-transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function);
  transition: transform 250ms var(--transform-timing-function), -webkit-transform 250ms var(--transform-timing-function);
}

.mobile-menu--is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container--mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.mobile-menu__close-button {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
}

.mobile-menu__close-button:hover .mobile-menu__close-icon,
.mobile-menu__close-button:focus .mobile-menu__close-icon {
  -webkit-transition: fill 250ms var(--transform-timing-function);
  transition: fill 250ms var(--transform-timing-function);
  fill: var(--accent-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.monile-menu__contacts-wrapper {
  justify-self: flex-end;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts__link {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__item {
  margin-bottom: 10px;
}

.socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.socials__link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */