.clients-section {
  @extend %section-paddings;
}

.clients-section__title {
  @extend %section-title;
}
.clients-list {
  @include flexedGrid;
}
.clients-list__item {
  margin-top: 30px;
  margin-left: 30px;
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
}
.clients-list__item:not(:first-child) {
  margin-left: 30px;
}
.clients-list__link {
  @include centeredFlex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-fill);
  border-radius: 4px;

  fill: var(--primary-icon-fill);

  transition: fill 250ms var(--transform-timing-function),
    border 250ms var(--transform-timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    outline-color: var(--accent-color);
  }
}

// Media - rules, which defines grid of items size for tablet screen.

@media screen and(min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

// Media - rules, which defines grid of items size for laptop/desktop screen.

@media screen and(min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}
