.hero {
  background-color: var(--footer-bckg-color);
  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)),
    url(../images/hero-bcg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px;

  @media screen and (min-width: 1200px) {
    padding: 200px;
  }
}
.hero-title {
  color: var(--hero-text-color);

  @include fontSource(900, 26px, 1.61, 0.06em);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include fontSource(900, 44px, 1.36, 0.06em);
  }
}
.hero-button {
  @extend %button;

  &:hover,
  &:focus {
    background-color: var(--modal-btn-hover-color);
  }
}
