.page-header {
  position: relative;
}
.logo--light-background {
  color: $blacktext-color;
}
.burger-button {
  position: absolute;
  display: inline-block;
  background-color: transparent;

  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.burger-button__icon {
  width: 40px;
  height: 40px;
  fill: var(--blacktext-color);
}

@media screen and (max-width: 767px) {
  .site-nav,
  .contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container--flexed {
    @include centeredFlex;
  }
  .site-nav {
    display: block;
    margin-left: 93px;
  }
  .site-nav__list {
    display: flex;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms $transform-timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .site-nav__link--current {
    color: $accent-color;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: inline-block;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: $accent-color;
    }
  }
  .contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact-list__item + .contact-list__item {
    margin-left: 30px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primary-text-color;

    transition: color 250ms $transform-timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .contact-list__icon {
    margin-right: 10px;

    fill: $primary-text-color;

    transition: fill 250ms $transform-timing-function;

    .contact-list__link:hover &,
    .contact-list__link:focus & {
      fill: $accent-color;
    }
  }
}
