.page-header {
  border-bottom: 1px solid var(--header-border-color);
  // position: relative;
  @include fontSource(500, 14px, 1.14, 0.02em);
}
.container--flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo--light-background {
  color: var(--blacktext-color);
}
.burger-button {
  display: inline-block;
  background-color: transparent;

  width: 40px;
  height: 40px;
  padding: 0;
  border: none;

  &:hover .burger-button__icon,
  &:focus .burger-button__icon {
    transition: fill 250ms var(--transform-timing-function);
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.burger-button__icon {
  width: 40px;
  height: 40px;
  fill: var(--blacktext-color);
}

@media screen and (max-width: 767px) {
  .site-nav,
  .contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container--flexed {
    @include centeredFlex;
    justify-content: space-between;
  }
  .site-nav__list {
    display: flex;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--transform-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .site-nav__link--current {
    color: var(--accent-color);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: inline-block;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: var(--accent-color);
    }
  }
  .contact-list {
    @include columnedFlex;
  }
  @media screen and (max-width: 1199px) {
    .contact-list__item {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  .contact-list__link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);

    transition: color 250ms var(--transform-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .contact-list__icon {
    margin-right: 10px;

    fill: var(--primary-text-color);

    transition: fill 250ms var(--transform-timing-function);

    .contact-list__link:hover &,
    .contact-list__link:focus & {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .container--flexed {
    justify-content: unset;
  }
  .site-nav {
    margin-left: 93px;
  }
  .contact-list {
    @include centeredFlex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  .contact-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact-list__item + .contact-list__item {
    margin-left: 30px;
  }
}
