.backdrop {
  position: fixed;
  visibility: visible;
  opacity: 1;
  z-index: 999;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;

  transition: opacity 250ms var(--transform-timing-function),
    visibility 250ms var(--transform-timing-function);
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop__wrapper {
  width: 100%;
  padding: 10px;
}
.backdrop__title {
  display: block;
  max-width: 80%;
  margin-bottom: 12px;

  @include fontSource(false, 15px, 1.08, 0.02em);
  text-align: center;

  color: var(--title-text-color);
}
.backdrop__content {
  position: relative;
  top: 45%;
  left: 50%;
  width: 90%;
  height: 90%;

  transform: translate(-50%, -50%) scale(1);
  background-color: var(--whitetext-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: transform 250ms var(--transform-timing-function);
}
.backdrop--is-hidden .backdrop__content {
  transform: translate(-50%, -50%) scale(2);
}
.backdrop__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover .backdrop__close-icon,
  &:focus .backdrop__close-icon {
    fill: var(--accent-color);
  }
}
.backdrop__close-icon {
  position: absolute;

  fill: var(--blacktext-color);
  transition: fill 250ms var(--transform-timing-function);
}
@media screen and (min-width: 480px) {
  .backdrop__wrapper {
    padding: 40px;
  }
  .backdrop__content {
    top: 50%;
    width: 450px;
    height: 609px;
  }
  .backdrop__title {
    @include fontSource(false, 20px, 1.15, 0.03em);
    max-width: unset;
  }
}

@media screen and (min-width: 768px) {
  .backdrop__content {
    top: 50%;
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__content {
    width: 528px;
    height: 581px;
  }
}
