.mobile-menu {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--whitetext-color);

  transform: translateY(-100%);
  transition: transform 250ms var(--transform-timing-function),
    visibility 250ms var(--transform-timing-function),
    opacity 250ms var(--transform-timing-function);
}
.mobile-menu--is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateY(0);
}
.container--mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 48px 40px;
}
.mobile-menu__close-button {
  position: absolute;
  display: inline-block;
  background-color: transparent;

  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;

  &:hover .mobile-menu__close-icon,
  &:focus .mobile-menu__close-icon {
    transition: fill 250ms var(--transform-timing-function);
    fill: var(--accent-color);
  }
}
.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}
.navigation {
  @include fontSource(500, 40px, 1.18, 0.02em);
}
.navigation__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.navigation__link {
  transition: color 250ms var(--transform-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.monile-menu__contacts-wrapper {
  justify-self: flex-end;
}
.contacts {
  @include columnedFlex;
  @include fontSource(500, 24px, 1.16, 0.02em);
  margin-bottom: 64px;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.contacts__link {
  color: var(--primary-text-color);

  transition: color 250ms var(--transform-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    @include fontSource(500, 34px, 40px, 0.02em);
  }
}

.socials {
  @include centeredFlex;
  justify-content: flex-start;
  @include fontSource(500, 18px, 1.22, 0.02em);
  flex-wrap: wrap;
}
.socials__item {
  margin-bottom: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    padding-right: 10px;
  }
}
.socials__link {
  color: var(--accent-color);
}
